@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color:white;
}

a {
    text-decoration: none;
}

header {
    font-family: 'Raleway',sans-serif;
}

#red {
    padding: 10px 0px;
    height: 10vh;
    width: 100vw;
    background-color: #ff0000;
    
}

#white {
    height: 8vh;
    width: 100vw;
    background-color: #ffffff;
}

#escudo img {
    position: absolute;
    top: 1%;
    left: 40%;
    width: 200px;
    background-color: transparent;
}

nav {
    height: 8vh;
    width: 100vw;
    background-color: #000000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.219);
}

nav  a {
    font-size: 1.3em;
    display: inline-block;
    color: white;
    padding: 10px 7px 0px 7px;
}

nav a:hover {
    color: #ff0000;
}