@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgba(0, 0, 0, 0.404);
}

header {
    font-family: 'Raleway',sans-serif;
}

#red {
    padding: 10px 0px;
    height: 10vh;
    width: 100vw;
    background-color: #ff0000;
    background: red url(imagens/logo-sao-paulo-256.png) no-repeat top center;
}

#white {
    height: 8vh;
    width: 100vw;
    background-color: #ffffff;
}

menu {
    height: 10vh;
    width: 100vw;
    background-color: #000000;
}

menu  li {
    display: inline-block;
    color: white;
}

